@model dance_club.Models.Activities

@if (User.Identity.IsAuthenticated)
{
    <div class="row" style="padding-bottom:20px">

        @Html.ActionLink("Panel używkwnika", "Index", "UserManager", null, new { @class = "btn btn-block btn-primary", Style = "padding-botom: 20px" })
    </div>
}

<h2> @Model.Name</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Act_Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Act_Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Act_End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Act_End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        @if (Model.User == false)
        {
            @Html.ActionLink("Zapisz mnie", "Sign", new { id = Model.ActivityID }, new { @class = "btn btn-block btn-success" })
        }
        else
        {
            @Html.ActionLink("Wypisz mnie", "Delete", "UserManager", new { id = Model.ActivityID }, new { @class = "btn btn-block btn-danger" })
        }

    </dl>
</div>

