@model IEnumerable<dance_club.Models.Activities>
@using Microsoft.AspNet.Identity


<h2>Oferta</h2>

@if(User.Identity.IsAuthenticated)
{
<div class="row" style="padding-bottom:20px">

    @Html.ActionLink("Panel używkwnika", "Index", "UserManager", null, new { @class = "btn btn-block btn-primary", Style = "padding-botom: 20px" })
</div>
}

<div class="row">
    <div class="col">

        <div class="list-group">
            <a href="/Activities/Index/" class="list-group-item list-group-item-action active">Wszystkie</a>
            @foreach (var item in ViewBag.List)
            {


                <a href="/Activities/Index/@item.CategoryID" class="list-group-item list-group-item-action">@item.Name</a>

            }
        </div>
    </div>
    <div class="col-8">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Categories.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categories.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>

                        @Html.ActionLink("Opis", "Details", new { id = item.ActivityID }, new { @class = "btn btn-lng btn-info" })
                        @if (item.User == false)
                        {
                            @Html.ActionLink("Zapisz mnie", "Sign", new { id = item.ActivityID }, new { @class = "btn btn-lng btn-success" })
                        }
                        else
                        {
                            @Html.ActionLink("Wypisz mnie", "Delete", "UserManager", new { id = item.ActivityID }, new { @class = "btn btn-lng btn-danger" })
                        }

                    </td>
                </tr>
            }

        </table>
    </div>
</div>