@model IEnumerable<dance_club.Models.Titles>
<div class="row">
    <div class="col align-self-center">
        <div class="list-group">
            <a href="/AdminManager/Activities/" class="list-group-item list-group-item-action active">Zajęcia</a>

            <a href="/AdminManager/Caterogies/" class="list-group-item list-group-item-action"> Kategorie zajęć</a>

            <a href="/AdminManager/Employees/" class="list-group-item list-group-item-action"> Pracownicy</a>


        </div>
    </div>
    <p>
        @Html.ActionLink("Stwórz nowe", "Create",null, new { @class="btn btn-success" })
    </p>
    <div class="col-8">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.TitleID }, new { @class = "btn btn-lng btn-success" })
                    @Html.ActionLink("Usuń", "Delete", new { id = item.TitleID }, new { @class = "btn btn-lng btn-danger" })
                </td>
            </tr>
    }

        </table>
    </div>
    </div>