@model IEnumerable<dance_club.Models.Categories>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", "Category", new { id = item.CategoryID }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Opis", "Details", "Category", new { id = item.CategoryID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Usuń", "Delete", "Category", new { id = item.CategoryID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
