@model IEnumerable<dance_club.Models.Categories>


<h2>Kategorie tańca</h2>

<p>
    @Html.ActionLink("Dodaj nowe", "Create", "Categories", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <div class="btn-group">
                @Html.ActionLink("Edytuj", "Edit", "Categories", new { id = item.CategoryID }, new { @class = "btn btn-success" })
                @Html.ActionLink("Usuń", "Delete", "Categories", new { id = item.CategoryID }, new { @class = "btn btn-danger" })
            </div>
        </td>
    </tr>
}

</table>
