@model IEnumerable<dance_club.Models.Employees>


<div class="row">
    <div class="col align-self-center">
        <div class="list-group">
            <a href="/AdminManager/Activities/" class="list-group-item list-group-item-action active">Zajęcia</a>

            <a href="/AdminManager/Caterogies/" class="list-group-item list-group-item-action"> Kategorie zajęć</a>

            <a href="/AdminManager/Employees/" class="list-group-item list-group-item-action"> Pracownicy</a>


        </div>
    </div>
    <div class="col-8">
<h2>Pracownicy</h2>

<p>
    @Html.ActionLink("Nowy pracownik", "Create", "Employees", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Rangi pracowników", "Index", "Titles", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hire_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birth_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hire_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birth_date)
        </td>
        <td>
            <div class="btn-group">
                @Html.ActionLink("Edytuj", "Edit", "Employees", new { id = item.EmployeeID }, new { @class = "btn btn-success" })
                @Html.ActionLink("Opis", "Details", "Employees", new { id = item.EmployeeID }, new { @class = "btn btn-info" }) 
                @Html.ActionLink("Usuń", "Delete", "Employees", new { id = item.EmployeeID }, new { @class = "btn btn-danger" })
             </div>
        </td>
    </tr>
}

</table>
        </div>
</div>