@model dance_club.Models.RegisterViewModel
<div class="row justify-content-center">
    <div class="col-md-auto ">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <h1>Rejestracja</h1>
                <hr />
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
            </div>



            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })


            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })

            </div>
           
            <div class="form-row text-center">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Zarejestruj" />
            </div>
            <p>
                <hr />
                @Html.ActionLink("Zaloguj się", "Login", null, new { @class = "btn btn-secondary btn-lg btn-block" })
            </p>

        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
