<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-faded sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/Content/d1.png" width="30" height="30" class="d-inline-block align-top" alt="">
                @Html.ActionLink("JustDance", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
              
            </a>
          
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    @*<li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>*@

                    <li class="nav-item">@Html.ActionLink("Oferta", "Index", "Activities", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Pracownicy", "Index", "Employees", null, new { @class = "nav-link" })</li>
                     @if (Request.IsAuthenticated)
                     {
                    <li class="nav-item">@Html.ActionLink("Panel Użytkownika", "Index", "UserManager", null, new { @class = "nav-link" })</li>
                     }
                     @if (User.IsInRole("Admin"))
                     {
                    <li class="nav-item">@Html.ActionLink("Panel Administratora", "Index", "AdminManager", null, new { @class = "nav-link" })</li>
                     }
                    <li class="nav-item">@Html.ActionLink("Kontakt", "Contact", "Home", null, new { @class = "nav-link" })</li>

                </ul>

                @Html.Partial("_LoginPartial")

            </div>

        </div>
    </nav>
     <div class="container body-content">
         @RenderBody()
         <hr />
         <footer>
             <p>&copy; @DateTime.Now.Year - Klaudia Jawor</p>
         </footer>
     </div>
   

   
</body>
</html>
